<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotify</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Saloo.saloo2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>saloo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.spotify.iOS-SDK-Quick-Start</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotify-ios-quick-start</string>
			</array>
		</dict>
	</array>
	<key>CKSharingSupported</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>App-prefs</string>
		<string>apple music</string>
		<string>music</string>
		<string>saloo</string>
		<string>spotify</string>
	</array>
	<key>NSUserActivityTypes</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>Privacy - Media Library Usage Description</key>
	<string>This app requires access to your media library to incorporate Apple Music (if you are a subscriber)</string>
</dict>
</plist>
